.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}


.content {
  overflow-y: auto;
  //background: greenyellow;
  //font-size: 36px;
  display: grid;
  grid-template-rows: 1fr auto ;
}


